<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Role</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h2>Edit Role</h2>
    <form action="#" th:action="@{/roles/saveedit}" th:object="${role}" method="post">
        <div class="form-group">
            <input type="hidden" class="form-control" id="role_id" th:field="*{role_id}" name="role_id"  required>
        </div>
        <div class="form-group">
            <label for="role_name">Role Name</label>
            <input type="text" class="form-control" id="role_name" th:field="*{role_name}" name="role_name" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Save">
        <a href="/roles" class="btn btn-secondary">Cancel</a>
    </form>
</div>
</body>
</html>
